@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: Manrope;
}

body {
  background-color: hsl(216, 12%, 8%);
}

.maincard {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  width: 350px;
  height: 350px;
  background-color: hsl(213, 19%, 18%);
}

p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  line-height: 23px;
}

.footer {
  align-self: end;
}

@media only screen and (max-width: 475px) {
  .maincard {
    width: 75vw;
    margin: 0 auto;
  }
}