.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.footer p {
    margin: 10px;
}

a {color: hsl(25, 97%, 53%);}