body {
    color: white;
}

.header {display: block;}

.ratingbuttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.ratingbutton {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: brightness(140%);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
}

.ratingbutton:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    filter: brightness(100%);

}

.ratingbutton.active {
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
    filter: brightness(100%);
}

.ratingbuttons input {
    display: none;
}

.submitbutton {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.submitbutton:hover {
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}

.staricon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
  filter: brightness(120%);
}

@media only screen and (max-width: 350px) {
  .ratingbutton {
    width: 40px;
    height: 40px;
  }
}